<p class="display-4">New to TweetApp?</p>
<button class="btn btn-outline-light" data-toggle="modal" data-target="#register">Create new account</button>
<div class="modal fade" id="register">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
		        <h5 class="modal-title">Create new account</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
		    </div>
            <div class="modal-body">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" formControlName="username" type="text" (keyup)="validateUsername(username)" #username placeholder="Enter username">
                        <p *ngIf="usernameInvalid" class="error">Username should be alphanumeric and can have '_' character. Length should be in b/w 6 nd 20</p>
                        <div *ngIf="submitted && form.username.errors" class="error">
                            <div *ngIf="form.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" formControlName="email" type="email" (keyup)="validateEmail(email)" #email name="email" placeholder="Enter your email address">
                        <p *ngIf="emailInvalid" class="error">Enter Valid EmailId</p>
                        <div *ngIf="submitted && form.email.errors" class="error">
                            <div *ngIf="form.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label>First Name</label>
                            <input class="form-control" formControlName="firstName" type="text" #firstName placeholder="Enter your first name">
                            <div *ngIf="submitted && form.firstName.errors" class="error">
                                <div *ngIf="form.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="col">
                            <label>Last Name</label>
                            <input class="form-control" formControlName="lastName" type="text" #lastName placeholder="(Optional)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input class="form-control" formControlName="phoneno" type="text" (keyup)="validateNumber(phoneno)" #phoneno name="phoneno" placeholder="Enter phone number">
                        <p *ngIf="phonenoInvalid" class="error">Enter Valid Phone Number</p>
                        <div *ngIf="submitted && form.phoneno.errors" class="error">
                            <div *ngIf="form.phoneno.errors.required">Phone Number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input class="form-control" formControlName="password" type="password" (keyup)="validatePassword(password)" (keyup)="matchPasswords(password, confirmPassword)" #password name="password" placeholder="Enter password">
                        <p *ngIf="passwordInvalid" class="error">Password should be greater than 8 characters and less than 14 characters and should have at least an uppercase letter, a lowercase letter, a special character and a number.</p>
                        <div *ngIf="submitted && form.password.errors" class="error">
                            <div *ngIf="form.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="control-label">Confirm Password</label>
                        <input class="form-control" formControlName="confirmPassword" type="text" (keyup)="matchPasswords(password, confirmPassword)" #confirmPassword name="confirmPassword" placeholder="Re-Enter password"> 
                        <p *ngIf="passwordsNotMatching" class="error">Passwords didn't match</p>
                        <div *ngIf="submitted && form.confirmPassword.errors" class="error">
                            <div *ngIf="form.confirmPassword.errors.required">Confirm Password is required</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input name="register" id="register" class="btn btn-block login-btn mb-4" type="submit" value="Register">
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>