.modal {
    color: #000;
}

.modal .error {
    color: red;
    font-size: 14px;
    letter-spacing: 1px;
}

a:hover {
    cursor: pointer;
    opacity: 0.6;
}

.login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}
.login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}