.like:hover{
    color: tomato;
}

.edit:hover{
    color:green;
}

.delete:hover{
    color:red;
}

.user{
    background-color: rgba(94, 94, 94, 0.056);
}

.user:hover{
    background-color: aliceblue;
}