<mat-card type="button" class="my-2 bg-light" *ngFor="let tweet of tweets">
    <mat-card-header (click)="GoToProfile(tweet.tweetedByUser.userName)" class="user pt-4 pl-4">
      <img
        src="../../../assets/images/twitter_login_page.png"
        mat-card-avatar>
      <mat-card-title>{{tweet.tweetedByUser.firstName + " " + tweet.tweetedByUser.lastName}}</mat-card-title>
      <mat-card-subtitle>
        @{{tweet.tweetedByUser.userName}} , {{ConvertTime(tweet.tweetedAt)}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="pt-3 pl-4" (click)="GoToTweet(tweet.tweetId)">
      <p>
        {{tweet.tweetText}}
      </p>
      <p class="text-primary">{{tweet.tweetTag}}</p>
    </mat-card-content>
    <mat-card-actions class="actions ml-3">
      <app-reply [repliesCount]="tweet.repliesCount" [tweetId]="tweet.tweetId" ></app-reply>
      <app-like-tweet [tweetId]="tweet.tweetId" [likesCount]="tweet.tweetLikesCount" [tweetLikedBy]="tweet.tweetLikedBy"></app-like-tweet>
      <button class="btn edit"><i class='far fa-edit'></i><span class="px-1">Edit</span></button>
      <button class="btn delete"><i class='fa fa-trash'></i><span class="px-1">Delete</span></button>
    </mat-card-actions>
</mat-card>