.btn {
    background-color: rgba(29, 160, 242, 0.841);
    color: white;
}

.btn:hover {
    border-color: rgba(29, 160, 242, 0.841);
    background-color: white;
    color: black;
}

textarea {
    resize: none;
    background-color: rgba(94, 94, 94, 0.056);
}