<mat-card>
    <mat-card-header>
        <img
        src="../../../assets/images/twitter_login_page.png"
        mat-card-avatar />
        <mat-card-title>Post Tweet</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form-group" [formGroup]="tweetFormGroup" (ngSubmit)="PostTweet()">
            <textarea formControlName="tweetText" class="form-control-plaintext m-2 p-2 bg-light" [ngClass]="{'border-danger' : tweetEmpty}" rows="4" placeholder="What's Happening?" maxlength="144"></textarea>
            <div *ngIf="isPosted && form.tweetText.errors" class="error ml-2 text-danger">
                <div *ngIf="form.tweetText.errors.required">Tweet text is required to post tweet.</div>
            </div>
            <input formControlName="tweetTag" type="text" class="form-control m-2 p-2 border-dark bg-light" placeholder="Enter Tweet Tag">
            <button class="btn ml-2">Post Tweet</button>
        </form>
    </mat-card-content>
</mat-card>